body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  overflow: hidden;
  margin: 0;
  text-align: center;
  align-items: center;
}

.App {
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8);
  height: 100vh;
  display: flex;
  justify-content: center;
  color: aliceblue;
}
