.Container {
  margin: auto;
  margin-top: 10px;
  height: 70vh;
  width: 50vw;
  background: #A7BFE8;
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.TextIndex {
  color: aliceblue;
}

.btnGet {
  color: aliceblue;
  background: #A7BFE8;
  padding: 10px;
  border: 1px solid #ffffff !important;
  border-radius: 6px;
}

.btnGet:hover {
  color: white !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}

@media screen and (max-width: 1050px){
  .Container{
    display: flex;
    flex-direction: column;
  }
}
