.text-informative {
  font-size: 1.75em;
  color: aliceblue;
}

.wicon {
  padding-top: 10px;
  height: 30px;
}

.icon {
  height: 30px;
  padding-right: 5px;
}

.box {
  display: flex;
}

 @media screen and (max-width: 900px) {
  .text-informative{
  font-size: 1em;
  transition: all 0.2s ease 0s;
  }
}

@media screen and (max-height: 300px){
  .text-informative {
  font-size: 1em;
  transition: all 0.2s ease 0s;
  }
}
